*{
	margin: 0;
	padding: 0;
}
/* 主体宽度 */
.w{
	width: 1000px;
	margin: 0 auto;
	/* border: 1px solid #00FFFF; */
}
.style_color{
	color: #F10215;
}

a{
	text-decoration: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.fl li a{
	text-decoration: none;
	color: #666666;
}
.fr li a{
	text-decoration: none;
	color: #666666;
}
ul{
	list-style-type: none;
}
li{
	/* color: #666666; */
}
.shortcut{
	height: 30px;
	color: #666666;
	font-size: 12px;
	line-height: 30px;
	background-color: #F1F1F1;
}
.shortcut ul li{
	float: left;
}
.header{
	height: 100px;
	position: relative;
	/* background-color: antiquewhite; */
}
.logo{
	position: absolute;
	top: 10px;
	width: 210px;
	height: 80px;
	background-color: aqua;
}
.logo a{
	display: block;
	width: 210px;
	height: 80px;
	font-size: 0px;
	/* background: url(../img/logo.jpg); */
	background: url(../img/002.png);
}
.search{
	position: absolute;
	left: 250px;
	top: 24px;
	width: 500px;
	height: 36px;
	border: 2px solid #FA2A83;
}
input{
	border: 0;
	outline: none;
}
button{
	border: 0;
	outline: none;
}

.search input{
	width: 448px;
	height: 34px;
	/* margin-left: 1px;s */
}
.search button{
	width: 47px;
	height: 36px;
	background-color: #FA2A83;
	border: 0;
	outline: none;
}
.hoteords{
	position: absolute;
	left: 250px;
	top: 65px;
}
.hoteords a{
	font-size: 12px;
	color: #666666;
	margin: 0 10px;
	text-decoration: none;
}
.hoteords a:hover{
	color: #FA2A83;
}
.shopcar{
	position: absolute;
	right: 60px;
	top: 25px;
	width: 140px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: 1px solid #dfdfdf;
	background-color: #f7f7f7;
}
.shopcar a{
	color: #FA2A83;
	text-decoration: none;
}

.shopcar img{
	width: 25px;
	height: 23px;
	margin: -4px 0;
}
.nav{
	height: 47px;
	border-bottom:1px solid #DFDFDF ;
}
/* nav.fixed{
	position: fixed;
	top: 0;
	
} */
.nav .dropdown{
	float: left;
	width: 210px;
	height: 45px;
	line-height: 45px;
	margin: 0 auto;
	padding-bottom: 2px;
	background-color: #FA2A83;
}
.nav .dropdown a{
	color: #F1F1F1;
	font-size: 20px;
	text-decoration: none;
	display: block;
	text-align: center;
}
.nav .navitems{
	float: left;
}
.nav .navitems a{
	display: block;
	color: #4f4f4f;
	font-size: 16px;
	font-weight: 500;
	height: 45px;
	line-height: 45px;
	margin-left: 80px;
	padding: 0 20px;
	text-decoration: none;
}
.nav .navitems a:hover{
	color: #FA2A83;
}
.nav .navitems ul li{
	float: left;
}
/* <!-- 主体模块开始 --> */
.main{
	height: 600px;
}
/* 轮播图 */
.slider,.slider .slider-img{
	overflow: hidden;
	height: 400px;
}
.slider{
	width: 1000px;
	margin: 50px auto;
	position: relative;
}
.slider:hover .slider-btn{
	color: #fff;
	text-shadow: 0 0 5px #666;
}
.slider .slider-img{
	width:1000%;
	position: relative;
}
.slider .slider-img .slider-img-ul{
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.slider .slider-img .slider-img-ul li{
	width: 1000px;
	height: 460px;
	float: left;
}
.slider .slider-img .slider-img-ul li img{
	width: 100%;
	height: 100%;
}

.slider .slider-dot ul{
	position: absolute;
	right: 50px;
	bottom: 30px;
}
.slider .slider-dot ul li{
	cursor: pointer;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #ccc;
	border: 2px solid #fff;
	float: left;
	margin-left: 10px;
}
.slider .slider-dot ul li.active,.slider .slider-dot ul li:hover{
	background: #ff00ff;
}

.slider .slider-btn{
	position: absolute;
	width: 50px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	color: #fff;
	font-size: 28px;
	text-decoration: none;
	font-family:"微软雅黑" ;
	color: rgba(255,255,255,0);
}
.slider .slider-btn:hover{
	background: rgba(125,125,125,.3);
}
.slider .slider-btn.slider-btn-left{
	left: 0;
	margin-top: -280px;
}
.slider .slider-btn.slider-btn-right{
	right: 0;
	margin-top: -280px;
}


.shop {
	margin: 0 auto;
	margin-top: 30px;
	width: 1000px;
	height: 1100px;
	/* border: 1px solid #666666; */
	/* margin: 10px 0; */
}
.shop-sort-subtitle {
	width: 100%;
	height: 60px;
	/* border: 2px solid #ff557f; */
}
.shop-sort-subtitle img{
	width: 100%;
}
.shop img:hover{
	opacity: 0.7;
}
.shop :hover{
	color: #ff720e;
}
.shop-sort-title {
	height: 43px;
	margin-top: 10px;
	margin-left: 10px;
	border-bottom: 1px #1a1a1a solid;

}
.shop-sort{
	width: 480px;
	height: 312px;
	float: left;
	margin: 0 10px;
	margin-top: 20px;
	background-color: #ffffff;
}
.shop-sort img {
	width: 100%;
}

.brand_name{
	margin-top: 18px;
	margin-left: 10px;
	cursor: pointer;
	font-family: MicrosoftYaHei;
	font-weight: 700;
	font-size: 18px;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 455px;
	display: block;
}
.brand_discount{
	color: #4d4d4d;
	font-size: 15px;
	margin-right: 10px;
	font-family: MicrosoftYaHei;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}
.brand_discount .brand_salebg{
	font-family: Arial;
	font-size: 18px;
	color: #f10582;
	margin-left: 10px;
	margin-top: 10px;
	font-weight: 700;
	display: inline-block;
}


/* <!-- 底部模块开始 --> */
.footer{
	height: 450px;
	background-color: #f9f9f9;
	padding-top: 35px;
}
.footer .mod_server{
	height: 110px;
	margin-top: 10px;
	margin-left: 40px;
	/* border: 1px solid #4D4D4D; */
	background: url(../img/footer_common.png) no-repeat;
}
.footer .mod_help{
	height: 200px;
	border-top: 1px solid #969696;
	padding-top: 20px;
	padding-left: 62px;
}
.footer .mod_help dl{
	float: left;
	width: 150px;
}
.footer .mod_help dl :last-child{
	width: 130px;
}
.footer .mod_help dl dt{
	font-size: 16px;
	margin-bottom: 10px;
	/* margin-left: 10px; */
}
.footer .mod_help dl dd{
	margin-left: 2px;
}
.footer .mod_help a{
	font-size: 12px;
	color: grey;
	text-decoration: none;
}
.footer .mod_help a:hover{
	color: #FA2A83;
}
.footer .mod_copyright{

	height: 100px;
	border-top: 1px solid #969696;
	
}
.footer .mod_copyright p{
	display: block;
	font-size: 12px;
	color: #666666;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	text-align: center;
}
.footer .mod_copyright a{
	text-decoration: none;
	color: #666666;
}
.footer .mod_copyright a:hover{
	color: #FA2A83;
}
/* <!-- 底部模块结束 --> */